@{
    ViewData["Title"] = "Home Page";
}

@* <body class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To</h1>
    <h1 class="display-4">Synergy Care</h1>
</body> *@
